@using Microsoft.AspNetCore.Http;
@model Tarefas

<form method="post" asp-action="Agendando">
<h3>Olá, é muito bom ver você de novo.</h3>
    <p>
        <label>Sua tarefa</label>
        <br>
        <input asp-for="tarefa">
    </p>
    <p>
        <label>Em que horário?</label>
        <br>
        <input asp-for="horario">
    </p>
    <p>
        <label>Descrição:</label>
        <br>
        <input asp-for="descricao">
    </p>
        <br>
    <input type="submit" value="ADICIONAR TAREFA">
    <p class="mensagem-style">@ViewBag.Cadastro</p>
    
</form>

<a asp-controller="Home" asp-action="Listar_Tarefas">VEJA SEUS COMPROMISSOS</a>