/*MENSAGENS DE VIEWBAGS*/

.mensagem-style {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 15px;
  animation-name: mensagem;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  opacity: 0;
}

@keyframes mensagem {
  10% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.9;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

body{
  background: rgb(32,80,112);
  background: linear-gradient(90deg, rgba(32,80,112,1) 0%, rgba(39,82,111,1) 16%, rgba(27,72,101,1) 56%, rgba(24,83,121,1) 95%);
  color: rgb(26, 26, 26);
  font-family: Poppins;
}

